.container-fluid {
  max-width: 1370px;
  margin: 0 auto;
}

.input-field__button::after,
.input-field__button.plus::before,
.menu-button::before,
.link-line::before,
body::before,
.breadcrumbs__item::before,
.product__item::before,
.shop__title::before,
.shop__filters-checkbox::before,
.shop__nav-select::before,
.shop__nav-btn::before,
.shop__filters-btn::before,
.shop__filters-btn::after,
.dot-item::before,
.regulations__title::before,
.profile-menu__img-box::before,
.profile-menu__img-box::after,
.profile-menu__button::before,
.profile-menu__list-item--phone::before,
.profile-menu__list-item--email::before,
.search__btn::before,
.user-menu__btn--search::before,
.form__checkbox::before,
.menu-catalog__delete::before,
.profile-menu__close::before,
.menu-burger__linkage::before,
.shop__comp::before,
.shop__content-text::before,
.shop__filters-comp--linkage::after,
body::after,
.product__comp--video::before,
.product__comp--video::after,
.product___component::after,
.product__total::after,
.product__element::before,
.menu__content-text::before {
  content: "";
  position: absolute;
  display: block;
}

.menu-button::before,
.product__item::before,
.shop__title::before,
.shop__nav-select::before,
.shop__nav-btn::before,
.regulations__title::before,
.profile-menu__button::before,
.profile-menu__list-item--phone::before,
.profile-menu__list-item--email::before,
.search__btn::before,
.user-menu__btn--search::before,
.menu-catalog__delete::before,
.profile-menu__close::before,
.shop__filters-comp--linkage::after,
.blogs__preview,
.product__tab,
.menu__content-text::before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo-item__old-price {
  background-repeat: no-repeat;
  background-position: center;
}

.showcase .slick-arrow,
.shop__title::before,
.dot-item::before,
.regulations__title::before,
.profile-menu__img-box::before,
.profile-menu__img-box::after,
.profile-menu__button::before,
.profile-menu__list-item--phone::before,
.profile-menu__list-item--email::before,
.localization__item:not(:first-child) .localization__btn::before,
.menu-burger__linkage::before,
.shop__comp::before,
.menu__content-text::before {
  top: 50%;
  transform: translateY(-50%);
}

.input-field__button::after,
.input-field__button.plus::before,
.shop__filters-checkbox::before,
.shop__nav-btn::before,
.search__btn::before,
.user-menu__btn--search::before,
.form__checkbox::before,
.menu-catalog__delete::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-card__basket,
.product-card__favorite,
.showcase .slick-dots,
.showcase .slick-arrow,
.input-field__number-value,
.product__items,
.pagination,
.pagination__link,
.shop__nav-form,
.user-menu__btn,
.localization__btn,
.profile-menu__items,
.user-menu__num,
.product__btn,
.product__btn-ico,
.product__btn-favourite,
.product__button-ico,
.menu__btns-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-item,
.shop__nav,
.menu__content {
  display: flex;
  justify-content: space-between;
}

.promo-item__top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  font-family: "Golos Text", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow-x: hidden;
  position: relative;
}

body::before,
body::after {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  transition: opacity 0.5s ease, visibility 0.5s ease, background-color 0.5s ease;
}

body::after {
  position: absolute;
  /* height: 100%; */
  top: 160px;
}

body.lock,
body.locked {
  overflow-y: hidden;
}

body.lock::before {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  visibility: visible;
}

body.locked::after {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  visibility: visible;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  margin-bottom: 50px;
}

.box__phone {
  text-align: center;
  display: block;
  margin-bottom: 5px;
}

.box__phone-btn {
  padding: 5px 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  display: none;
}

.link {
  border-radius: 5px;
  transition: box-shadow 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
}

.link:focus {
  box-shadow: 0 0 0 2px rgba(200, 160, 108, 0.7);
}

.link:hover {
  color: #C8A06C;
}

.link:active {
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  box-shadow: none;
}

.link-line {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0;
  border-radius: 5px;
  position: relative;
  transition: text-shadow 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}

.link-line::before {
  width: 0;
  height: 3px;
  right: 0;
  left: auto;
  bottom: -3px;
  background-color: #C8A06C;
  transition: width 0.5s ease;
}

.link-line:hover {
  box-shadow: none;
}

.link-line:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.heart-ico {
  fill: transparent;
  stroke: #2F3035;
  stroke-width: 2px;
  transition: stroke 0.5s ease, fill 0.5s ease;
}

.social-ico {
  width: 30px;
  height: 30px;
  transition: fill 0.5s ease;
}

input[type=search]::-webkit-search-clear-button {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-submit-button {
  display: none;
}

.price {
  font-family: "Barlow", sans-serif;
}

.title {
  font-family: "Barlow", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
}

.arrow {
  width: 16px;
  height: 29px;
}

@keyframes heart-bit {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  to {
    transform: scale(1);
  }
}

.explore {
  margin-bottom: 100px;
}

.menu-button {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 40px;
  right: 40px;
  border-radius: 50%;
  transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

.menu-button::before {
  inset: 0;
  background-image: url("../images/icons/close-btn.svg");
}

.menu-button:focus {
  box-shadow: 0 0 0 2px rgba(200, 160, 108, 0.7);
}

.menu-button:hover {
  opacity: 0.7;
}

.menu-button:active {
  box-shadow: none;
  opacity: 0.5;
}

.on {
  display: block;
}

.off {
  display: none;
}

.input-field {
  display: flex;
}

.input-field__button {
  background-color: #C8A06C;
  width: 44px;
  height: 44px;
  position: relative;
}

.input-field__button.minus {
  border-radius: 3px 0px 0px 3px;
}

.input-field__button.plus {
  border-radius: 0px 3px 3px 0px;
}

.input-field__button.plus::before {
  height: 20px;
  width: 2px;
  background-color: #fff;
}

.input-field__button::after {
  height: 2px;
  width: 20px;
  background-color: #fff;
}

.input-field__number-value {
  width: 60px;
  padding: 10px;
  text-align: center;
  color: #292929;
  background-color: #f0f0f4;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.6px;
}

.promo-item {
  max-width: 265px;
  width: 100%;
  flex-direction: column;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  text-align: center;
  transition: box-shadow 0.5s ease;
}

.promo-item:focus {
  box-shadow: 0 0 0 2px rgba(200, 160, 108, 0.7);
}

.promo-item:hover .promo-item__img {
  transform: scale(1.05);
}

.promo-item:hover .promo-item__title {
  color: #C8A06C;
}

.promo-item:active {
  box-shadow: none;
}

.promo-item:active .promo-item__img {
  transform: scale(0.9);
}

.promo-item__top {
  margin-bottom: 10px;
}

.promo-item__info {
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1.2px;
  color: #fff;
  background-color: #C8A06C;
  text-transform: uppercase;
  padding: 8px 20px;
}

.promo-item__price {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  line-height: 1.2;
}

.promo-item__new-price {
  font-weight: 700;
  font-size: 27px;
  color: #C8A06C;
}

.promo-item__old-price {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  color: #c4c4c4;
  padding: 2px 5px;
  background-image: url("../images/icons/line.svg");
}

.promo-item__box {
  overflow: hidden;
}

.promo-item__img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 200px;
  margin: 0 auto 5px;
  transition: transform 0.5s ease;
}

.promo-item__title {
  font-weight: 700;
  line-height: 1.1;
  max-width: 215px;
  margin: 0 auto 15px;
  transition: color 0.5s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.promo-item__text {
  line-height: 1.3;
  padding: 22px 20px;
  background-color: #F0F0F4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.promo-item__text span {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: #C8A06C;
  display: block;
}

.showcase {
  padding-bottom: 60px;
}

.showcase__tabs {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 3px;
  margin-bottom: 25px;
}

.showcase__tab.tab--active::before {
  width: 100%;
}

.showcase__container {
  position: relative;
  min-height: 404px;
}

.showcase__content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #fff;
}

.showcase__content.tabs-content--active {
  opacity: 1;
  z-index: 15;
}

.showcase__item {
  max-width: 280px;
}

.showcase .slick-slide {
  margin: 0 15px;
}

.showcase .slick-arrow {
  position: absolute;
  transition: fill 0.5s ease;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: box-shadow 0.5s ease, fill 0.5s ease;
}

.showcase .slick-arrow:focus {
  box-shadow: 0 0 0 2px rgba(200, 160, 108, 0.7);
}

.showcase .slick-arrow:hover {
  fill: #C8A06C;
}

.showcase .slick-arrow:active {
  fill: rgba(200, 160, 108, 0.5);
  box-shadow: none;
}

.showcase .slick-prev {
  left: -60px;
}

.showcase .slick-next {
  right: -60px;
  transform: translateY(-50%) scale(-1, 1);
}

.showcase .slick-dots {
  gap: 20px;
}

.showcase .slick-dots li button {
  width: 14px;
  height: 14px;
  background-color: #c4c4c4;
  border-radius: 50%;
  font-size: 0;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.showcase .slick-dots li button:focus {
  box-shadow: 0 0 0 2px rgba(200, 160, 108, 0.7);
}

.showcase .slick-dots li button:hover {
  background-color: #C8A06C;
}

.showcase .slick-dots .slick-active button {
  background-color: #C8A06C;
}

.product-card {
  position: relative;
  width: 100%;
  max-width: 280px;
}

.product-card__favorite {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  z-index: 5;
}

.product-card__favorite .heart-ico {
  stroke: #2F3035;
}

.product-card__favorite.product-card__favorite--active .heart-ico {
  fill: #C8A06C;
  stroke: transparent;
}

.product-card__basket {
  bottom: 0;
  right: 0;
  position: absolute;
  border-radius: 10px 0px 0px 0px;
  background-color: #C8A06C;
  width: 60px;
  height: 40px;
}

.product-card__basket .user-ico {
  fill: #fff;
}

.product-card__notify-link {
  display: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  color: #C8A06C;
  text-decoration: underline;
  padding: 0 15px;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.product-card__link {
  display: flex;
  flex-direction: column;
  min-height: 404px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  text-align: center;
  padding: 52px 20px 40px;
  width: 100%;
  height: 100%;
  transition: box-shadow 0.5s ease, border-color 0.5s ease;
}

.product-card__link:hover {
  border: 1px solid transparent;
  box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
}

.product-card__link:hover .product-card__title,
.product-card__link:hover .product-card__price {
  color: #C8A06C;
}

.product-card__link:hover .product-card__hover-text {
  opacity: 1;
}

.product-card__link:hover .product-card__notify-link {
  color: #000;
}

.product-card--sale::before {
  content: "SALE";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: #fff;
  background-color: #C8A06C;
  text-transform: uppercase;
  padding: 8px 15px;
  position: absolute;
  left: 0;
  top: 0;
}

.product-card.product-card--not-available .product-card__price,
.product-card.product-card--not-available .product-card__basket {
  display: none;
}

.product-card.product-card--not-available .product-card__title {
  margin-bottom: 12px;
}

.product-card.product-card--not-available .product-card__notify-text,
.product-card.product-card--not-available .product-card__notify-link {
  display: block;
}

.product-card__hover-text {
  padding: 18px 21px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 20px;
  right: 20px;
  top: 30%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.product-card__box {
  overflow: hidden;
}

.product-card__img {
  max-width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 auto 10px;
}

.product-card__title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
  transition: color 0.5s ease;
}

.product-card__price {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  transition: color 0.5s ease;
  margin-top: auto;
}

.product-card__notify-text {
  display: none;
  font-size: 18px;
  font-weight: 700;
  transition: color 0.5s ease;
  padding-bottom: 25px;
  margin-top: auto;
}

.breadcrumbs {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  color: #fff;
  margin-bottom: 10px;
}

.breadcrumbs--default {
  color: rgb(47, 48, 53);
  margin-bottom: 0;
}

.breadcrumbs__item {
  padding-left: 20px;
  font-size: 14px;
  position: relative;
}

.breadcrumbs__item:first-child {
  padding-left: 25px;
}

.breadcrumbs--default .breadcrumbs__item:first-child::before {
  background-image: url('../images/icons/home-gray.svg');
}

.breadcrumbs__item:first-child::before {
  background-image: url('../images/icons/home.svg');
  width: 16px;
  height: 16px;
  left: 0;
  top: 2px;
}

.breadcrumbs--default .breadcrumbs__item:not(:first-child)::before {
  background-image: url('../images/icons/angle-right-gray.svg');
}

.breadcrumbs__item:not(:first-child)::before {
  background-image: url('../images/icons/angle-right.svg');
  width: 6px;
  height: 10px;
  left: 8px;
  top: 7px;
}

.showcase__list {
  display: flex;
  overflow: hidden;
  padding-bottom: 50px;
  padding: 0 5px 50px;
}

.showcase__item {
  max-width: 270px;
  width: 100%;
  margin: 0 10px;
  flex-shrink: 0;
  padding: 15px 0 20px;
}

.product-card {
  position: relative;
  width: 100%;
  max-width: 270px;
}

.showcase .slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 25px;
}

.product-card__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn {
  border-radius: 5px;
  width: 100%;
  background-color: #292929;
  text-align: center;
  padding: 15px;
  color: #fff;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.btn:focus {
  box-shadow: 0 0 0 2px #c8a06c;
}

.btn:hover {
  background-color: #C8A06C;
  box-shadow: 0px 7px 20px 0px rgba(200, 160, 108, 0.3);
}

.btn:active {
  background-color: rgba(47, 48, 53, .9);
  color: #fff;
  box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25) inset;
}

.hero--regulations .hero__content {
  max-width: 550px;
}

.hero--regulations .hero__info {
  max-width: 420px;
}

.hero__inner {
  display: flex;
  border-radius: 15px;
  position: relative;
}

.hero__content {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #c8a06c;
  max-width: 440px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.hero__info {
  max-width: 290px;
}

.hero__title {
  font-size: 56px;
  font-weight: 500;
  line-height: 1.15;
  word-wrap: break-word;
  color: #fff;
  text-align: center;
}

.hero__title.hero__title--regulations {
  text-align: left;
}

.hero__title--default {
  text-align: left;
  margin: 0px 0px 68px 0px;
}

.hero__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 16px 24px;
  border-radius: 4px;
  background-color: #fff;
  color: #333333;
  transition: color 0.5s ease, background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

.hero__link:focus {
  box-shadow: 0 0 0 2px rgba(41, 41, 41, .7);
}

.hero__link:hover {
  background-color: rgb(242, 242, 242);
}

.hero__link:active {
  transform: scale(0.9);
  box-shadow: none;
}

.hero__bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 460px;
  width: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.page-title {
  font-size: 36px;
  font-weight: 500;
}

.dot-item {
  font-size: 14px;
  margin-bottom: 10px;
  color: #c8a06c;
  padding-left: 20px;
  position: relative;
}

.dot-item::before {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #2F3035;
  left: 0;
}

.input {
  display: block;
  width: 100%;
  height: 60px;
  margin-top: 4px;
  padding: 15px;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  transition: border-color 0.5s ease, box-shadow 0.5s ease;
}

.input:focus {
  box-shadow: 0 0 0 2px rgba(200, 160, 108, 0.7);
}

.input:hover {
  border-color: rgba(31, 31, 31, 0.7);
}

.label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.33;
  color: #C8A06C;
  margin-bottom: 30px;
}

.page-form__title {
  margin-bottom: 25px;
}

.page-form__form {
  max-width: 730px;
  display: flex;
  flex-direction: column;
}

.page-form__label {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.page-form__input,
.page-form__textarea {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
}

.page-form__textarea {
  padding: 15px;
  min-height: 200px;
}

.page-form__btn {
  max-width: 600px;
  margin-left: auto;
}

.btn-default {
  font-weight: 500;
  color: #fff;
  background-color: #c8a06c;
  border-radius: 5px;
  transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

.btn-default:focus {
  box-shadow: 0 0 0 2px rgba(41, 41, 41, .7);
}

.btn-default:hover {
  background-color: #D9B688;
}

.btn-default:active {
  background-color: #c8a06c;
  transform: scale(0.9);
  box-shadow: none;
}

@media (max-width: 1370px) {

  .hero__inner,
  .hero__content,
  .hero__bg {
    border-radius: 0;
  }
}

@media (max-width: 1319px) {
  .showcase {
    padding-bottom: 62px;
  }
}

@media (max-width: 1250px) {
  .hero__title {
    font-size: 50px;
    margin-bottom: 48px;
    font-weight: 600;
  }
}

@media (max-width: 1200px) {
  body::after {
    top: 217px;
  }
}

@media(max-width: 1150px) {
  .hero__content {
    max-width: 360px;
  }

  .hero__title {
    font-size: 42px;
    margin-bottom: 38px;
  }

  .hero__bg {
    min-height: 400px;
  }
}

@media (max-width: 1050px) {

  .product-card,
  .showcase__item {
    max-width: 310px;
  }
}

@media (max-width: 992px) {
  .btn-default:hover {
    background-color: #c8a06c;
  }

  .profile-menu__input:hover {
    border-color: #1f1f1f;
  }

  .hero__link:hover {
    background-color: #fff;
  }

  .btn:hover {
    background-color: #292929;
    color: #fff;
  }

  .link-line:hover::before {
    width: 100%;
  }

  .link:hover {
    color: #2F3035;
  }

  .menu-button:hover {
    opacity: 1;
  }

  .showcase .slick-dots .slick-active button:hover {
    background-color: #C8A06C;
  }

  .showcase .slick-dots li button:hover {
    background-color: #c4c4c4;
  }

  .menu-responsive__btn {
    width: 100%;
    justify-content: start;
  }

  .menu-catalog__product-name:hover {
    color: #000;
  }

  .profile-menu__link.tab.tab--active.link:hover {
    color: #C8A06C;
  }

  .profile-menu__close:hover {
    opacity: 1;
  }
}

@media (max-width: 890px) {
  .showcase__tabs {
    margin-bottom: 15px;
  }

  .product-card {
    max-width: 380px;
  }

  .showcase__item {
    max-width: 380px;
  }

  body.locked::after,
  body::after {
    top: 196px;
  }
}

@media (max-width: 860px) {

  .product-card,
  .showcase__item {
    max-width: 380px;
  }
}

@media (max-width: 768px) {

  body.locked::after,
  body::after {
    top: 196px;
  }

  .page-form__label {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  .page-form__input,
  .page-form__textarea,
  .page-form__btn {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
  }

  .page-title {
    font-size: 30px;
  }

  .hero__content,
  .hero--regulations .hero__content {
    position: absolute;
    inset: 0;
    max-width: 100%;
    background-color: transparent;
    border-radius: 0;
    background: linear-gradient(180deg, rgba(200, 160, 108, 0) 0%, #C8A06C 100%);
  }

  .hero__info {
    max-width: 100%;
    text-align: center;
  }

  .hero__title {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
  }

  .hero__bg {
    min-height: 240px;
  }

  .explore {
    margin-bottom: 50px;
  }
}

@media (max-width: 560px) {
  .page-title {
    font-size: 24px;
  }

  .product-card,
  .showcase__item {
    max-width: 480px;
  }

  .product-card {
    margin: 0 auto;
    max-width: 310px;
  }

  .showcase__item {
    max-width: 100%;
  }

  .menu-catalog__link-box {
    padding: 0 30px;
  }

  .menu-catalog__cost {
    font-size: 20px;
    padding: 0 30px;
    margin-bottom: 20px;
  }

  .menu-catalog__full {
    padding-right: 0;
  }

  .menu-catalog__cost::after {
    width: calc(100% - 60px);
  }
}

@media (max-width: 480px) {
  .menu-button {
    top: 20px;
    right: 20px;
  }

  .menu-catalog__info {
    padding-right: 0;
    max-width: 100%;
  }

  .menu-catalog__product {
    padding: 50px 15px;
    flex-direction: column;
    text-align: center;
  }

  .menu-catalog__products.menu-catalog__products--heart {
    max-height: 400px;
  }

  .profile-menu__items {
    margin-bottom: 20px;
  }

  .menu-catalog__products {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;
    max-height: 445px;
  }

  .menu-catalog__price {
    font-size: 20px;
  }

  .menu-catalog {
    padding: 85px 0;
  }

  .menu-catalog__name {
    margin-bottom: 15px;
  }

  .profile-menu__text {
    margin-bottom: 20px;
  }

  .profile-menu__label {
    margin-bottom: 20px;
  }

  .profile-menu__close {
    top: 20px;
    right: 20px;
  }

  .profile-menu {
    padding: 85px 30px;
  }

  .profile-menu__img-box {
    width: 100px;
    height: 100px;
    margin-bottom: 0;
  }

  .profile-menu__username {
    font-size: 20px;
  }

  .profile-menu__title {
    font-size: 18px;
  }
}

@media (max-width: 370px) {

  .profile-menu__list-item--phone::after,
  .profile-menu__list-item--email::after {
    display: none;
  }

  .profile-menu__list-item--phone dd,
  .profile-menu__list-item--email dd {
    padding-left: 35px;
  }

  .profile-menu__list-item--phone,
  .profile-menu__list-item--email {
    gap: 0;
    flex-direction: column;
  }
}