.header {
  font-weight: 500;
  position: relative;
  min-height: 160px;
}

.menu__top {
  display: flex;
  align-items: center;
  padding: 20px 0;
  height: 104px;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
  z-index: 18;
}

.menu__btn,
.menu__btn-responsive {
  width: 40px;
  padding: 10px 20px 10px 0px;
  margin-right: 15px;
}

.menu__btn-line::before,
.menu__btn-line::after,
.menu__btn-line span {
  content: "";
  display: block;
  height: 2px;
  background-color: #C8A06C;
  margin: 3px 0;
  transition: .2s all;
  position: relative;
  top: 0;
}

.menu__btn-line:after,
.menu__btn-line:before {
  width: 16px;
}

.menu__btn.menu__btn--active .menu__btn-line::before {
  top: 5px;
  transform: rotate(-45deg);
  margin-top: 6px;
  width: 16px;
}

.menu__btn.menu__btn--active .menu__btn-line::after {
  bottom: 0px;
  opacity: 0;
}

.menu__btn.menu__btn--active .menu__btn-line span {
  transform: rotate(45deg);
  margin-top: 0;
  width: 16px;
}

.logo {
  margin-right: 25px;
  border-radius: 5px;
  overflow: hidden;
  transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

.logo:focus {
  box-shadow: 0 0 0 2px rgba(200, 160, 108, 0.7);
}

.logo:hover {
  opacity: 0.75;
}

.logo:active {
  opacity: 0.5;
  box-shadow: none;
}

.search {
  width: 320px;
  margin-left: auto;
  margin-right: 20px;
  position: relative;
}

.search__input {
  display: block;
  width: 100%;
  padding: 9px 50px 9px 16px;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
}

.search__btn {
  top: 0;
  right: 0;
  position: absolute;
  width: 44px;
  height: 44px;
}

.search__btn::before {
  width: 24px;
  height: 24px;
  background-image: url('../images/icons/search-new.svg');
}

.user-menu {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.user-menu__item:first-child {
  display: none;
}

.user-menu__item:last-child .user-menu__btn {
  width: auto;
  display: flex;
  gap: 10px;
}

.user-menu__item:last-child {
  margin-left: 20px;
}

.user-menu__btn {
  width: 44px;
  height: 44px;
  position: relative;
}

.user-menu__btn path {
  transition: stroke 0.5s ease;
}

.user-menu__btn:hover path {
  stroke: #c8a06c;
}

.user-menu__btn--profile {
  width: auto;
  transition: color 0.5s ease;
}

.user-menu__btn--profile:hover {
  color: #c8a06c;
}

.user-menu__num {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #82367b;
  color: #fff;
  font-size: 10px;
  line-height: 1;
  right: 0px;
  top: 2px;
}

.localization__list {
  display: flex;
  gap: 15px;

}

.localization__btn {
  text-transform: uppercase;
  position: relative;
  width: 35px;
  height: 35px;
}

.localization__item:not(:first-child) .localization__btn::before {
  content: '/';
  position: absolute;
  display: block;
  left: -11px;
  line-height: 1;
}

.localization__btn--active {
  color: #c8a06c;
}

.menu__content {
  padding: 15px 0;
}

.menu__content-btns {
  width: 100%;
  display: none;
}

.menu__btns-item {
  flex-basis: 50%;
}

.menu__content-btn {
  padding: 15px;
  width: 100%;
}

.menu__btns-item:first-child {
  border-right: 1px solid rgb(51 51 51 / 10%);
}

.menu__content-text {
  padding-left: 30px;
  position: relative;
}

.menu__content-text::before {
  left: 0;
  width: 24px;
  height: 24px;
}

.menu__content-catalog::before {
  background-image: url('../images/icons/catalog-icon.svg');
}

.menu__content-filter::before {
  background-image: url('../images/icons/filter-icon.svg');
}

.menu__items,
.social {
  display: flex;
  gap: 30px;
}

.menu__linkage.menu__linkage--active {
  color: #c8a06c;
}

.menu-burger {
  position: absolute;
  top: 104px;
  left: 0;
  right: 0;
  z-index: 25;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  padding: 40px 0 50px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.menu-burger--active {
  opacity: 1;
  visibility: visible;
}

.menu-burger__items {
  display: flex;
}

.menu-burger__item:first-child {
  max-width: 250px;
  width: 100%;
  border-right: 1px solid #EBEBEB;
}

.menu-burger__item:last-child {
  padding: 0 20px 0 40px;
}

.menu-burger__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 20px;
  display: block;
}

.menu-burger__link {
  line-height: 2.8;
}

.menu-burger__list-items {
  display: grid;
  grid-template-columns: repeat(2, 250px);
}

.menu-burger__linkage {
  position: relative;
  font-size: 12px;
  line-height: 2.75;
  padding-left: 16px;
}

.menu-burger__linkage::before {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #C8A06C;
  position: absolute;
  left: 0;
}

.phone-popup {
  width: 100%;
  max-width: 460px;
  margin: 40px auto;
  min-height: 100px;
  box-shadow: 0px 8px 16px rgb(0 0 0 / 12%);
  border-radius: 8px;
  padding: 40px;
  background-color: #fff;
  position: fixed;
  z-index: 25;
  color: rgba(51, 51, 51, 0.68);
  opacity: 0;
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.phone-popup--active {
  opacity: 1;
  visibility: visible;
}

.phone-popup__close,
.menu-responsive__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #333333;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: -48px;
}

.phone-popup__title {
  display: block;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  margin-bottom: 8px;
}

.phone-popup__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.66;
  margin-bottom: 15px;
}

.form__label {
  display: block;
  margin-bottom: 15px;
}

.form__label-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: rgba(51, 51, 51, 0.56);
  margin-bottom: 8px;
  display: inline-block;
}

.form__input {
  display: block;
  width: 100%;
  color: #333333;
  padding: 13px 16px;
  font: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
}

.form__apply {
  display: flex;
  gap: 10px;
  font-size: 12px;
  line-height: 1.67;
  color: #7c7c7c;
  margin-bottom: 25px;
}

.form__checkbox-input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

.form__checkbox-input:checked+.form__checkbox::before {
  opacity: 1;
}

.form__checkbox-input:checked+.form__checkbox {
  background-color: #333;
}

.form__checkbox {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  position: relative;
  transition: background-color 0.5s ease;
}

.form__checkbox::before {
  background-image: url("../images/icons/checked-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 12px;
  height: 12px;
  opacity: 0;
  transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

.form__text {
  display: block;
}

.form__link {
  color: #c8a06c;
}

.menu-catalog {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  z-index: 25;
  padding: 110px 0;
  max-width: 600px;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.menu-catalog--basket.menu-catalog--basket-active {
  transform: translateX(0);
}

.menu-catalog--heart.menu-catalog--heart-active {
  transform: translateX(0);
}

.menu-catalog__name {
  color: #000;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.menu-catalog__full {
  padding-right: 60px;
}

.menu-catalog__empty {
  padding: 0 30px;
  text-align: center;
}

.menu-catalog__empty-img {
  margin: 0 auto 20px;
}

.menu-catalog__text {
  max-width: 330px;
  margin: 0 auto 40px;
}

.menu-catalog__products {
  min-height: 180px;
  max-height: 465px;
  overflow-y: auto;
  padding: 10px 20px 10px 30px;
  margin-bottom: 20px;
}

.menu-catalog__products::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.menu-catalog__products::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.menu-catalog__products::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.menu-catalog__products::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.menu-catalog__product {
  display: flex;
  align-items: center;
}

.menu-catalog__product {
  gap: 10px;
  padding: 15px;
  padding-right: 50px;
  transition: box-shadow 0.5s ease;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.25);
  position: relative;
}

.menu-catalog__product:not(:last-child) {
  margin-bottom: 20px;
}

.menu-catalog__img {
  width: 180px;
  height: 180px;
  -o-object-fit: cover;
  object-fit: cover;
}

.menu-catalog__info {
  max-width: 210px;
  position: relative;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-catalog__product-name {
  max-width: 165px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  transition: color 0.5s ease;
}

.menu-catalog__product-name:hover {
  color: #C8A06C;
}

.menu-catalog__price {
  font-size: 16px;
  font-weight: 700;
  color: #C8A06C;
  display: inline-block;
  margin-bottom: 15px;
}

.menu-catalog__delete {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.menu-catalog__delete::before {
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/delete.svg");
}

.menu-catalog__cost {
  font-size: 16px;
  color: #000;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
  overflow-x: hidden;
}

.menu-catalog__cost-name {
  background-color: #fff;
  position: relative;
  z-index: 10;
  display: inline-block;
  padding-right: 10px;
}

.menu-catalog__cost::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 30px;
  right: 0;
  bottom: 8px;
  z-index: 5;
  border-bottom: 3px dotted rgb(51 51 51 / 16%);
}

.menu-catalog__value {
  background-color: #fff;
  font-weight: 700;
  color: #C8A06C;
  letter-spacing: 1px;
  display: inline-block;
  padding-left: 10px;
  position: relative;
  z-index: 10;
}

.menu-catalog__link-box {
  text-align: center;
  padding-left: 30px;
}

.menu-catalog__link,
.menu-catalog__next {
  max-width: 100%;
  font-size: 18px;
}

.profile-menu {
  position: fixed;
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 25;
  height: 100vh;
  padding: 100px 30px 75px;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.profile-menu--active {
  transform: translateX(0);
}

.profile-menu__items {
  gap: 50px;
  margin-bottom: 25px;
}

.profile-menu__text {
  margin-bottom: 15px;
}

.profile-menu__elem {
  display: none;
}

.profile-menu__elem.tabs-content--active {
  display: block;
}

.profile-menu__link {
  text-transform: uppercase;
}

.profile-menu__link.tab--active {
  color: #C8A06C;
}

.profile-menu__lost {
  border-radius: 5px;
  margin-top: 15px;
  color: #fe3e57;
  transition: box-shadow 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
}

.profile-menu__close {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 40px;
  right: 40px;
  border-radius: 50%;
  transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

.profile-menu__close::before {
  inset: 0;
  background-image: url("../images/icons/close-btn.svg");
}

.profile-menu__close:hover {
  opacity: 0.7;
}

.profile-menu__user {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 175px);
}

.profile-menu__user.on {
  display: flex;
}

.profile-menu__user.off {
  display: none;
}

.profile-menu__user-box {
  overflow-x: hidden;
}

.profile-menu__img-box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 10px;
  margin: 0 auto 15px;
  position: relative;
}

.profile-menu__img-box::before,
.profile-menu__img-box::after {
  width: 245px;
  height: 3px;
  background-color: #000;
}

.profile-menu__img-box::before {
  left: -248px;
}

.profile-menu__img-box::after {
  right: -248px;
}

.profile-menu__username {
  display: block;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.profile-menu__title {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}

.profile-menu__list {
  margin-bottom: 15px;
}

.profile-menu__list-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px 15px;
  margin-bottom: 10px;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
}

.profile-menu__list-item::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 30px;
  right: 0;
  bottom: 7px;
  z-index: 5;
  border-bottom: 2px dotted rgb(51 51 51 / 16%);
}

.profile-menu__list-item--phone dt,
.profile-menu__list-item--email dt {
  padding-left: 35px;
  position: relative;
}

.profile-menu__list-item--phone::before,
.profile-menu__list-item--email::before {
  width: 24px;
  height: 24px;
  left: 0;
  z-index: 11;
}

.profile-menu__list-item--phone::before {
  background-image: url('../images/icons/phone.svg');
}

.profile-menu__list-item--email::before {
  background-image: url('../images/icons/message.svg');
  width: 25px;
  height: 23px;
}

.profile-menu__list-item dd,
.profile-menu__list-item dt {
  background-color: #fff;
  position: relative;
  z-index: 10;
}

.profile-menu__list-item dt {
  padding-right: 10px;
}

.profile-menu__list-item dd {
  color: #c8a06c;
  padding-left: 10px;
}

.profile-menu__edit {
  margin-bottom: 10px;
}

.profile-menu__button {
  font-weight: 500;
  background-color: #fe3e57;
  color: #fff;
  padding: 15px;
  padding-left: 38px;
  max-width: 150px;
  width: 100%;
  border-radius: 10px;
  margin-top: auto;
  position: relative;
  margin-left: auto;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, .3);
}

.profile-menu__button::before {
  width: 24px;
  height: 24px;
  background-image: url('../images/icons/exit.png');
  left: 15px;
}

.menu__content-search,
.menu__categories-items,
.menu-responsive,
.menu__btn-responsive {
  display: none;
}

.profile-menu__history-icon img{
  margin-top: -3px;
}

.profile-menu__history.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.menu-responsive__link--active {
  color: #c8a06c;
}

@media (max-width: 1200px) {
  .header {
    transition: min-height 0.5s ease;
  }

  .header.header--active {
    min-height: 217px;
  }

  .user-menu {
    margin-left: auto;
  }

  .user-menu__item:first-child {
    display: block;
  }

  .search {
    display: none;
  }

  .menu-burger {
    top: 104px;
  }

  body.locked::after {
    top: 217px;
  }

  .menu__content {
    flex-wrap: wrap;
  }

  .menu__content-search {
    display: none;
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
  }
}

@media (min-width: 993px) {

  .menu__categories-items,
  .menu__filters-items {
    display: none;
    padding-bottom: 0;
  }

  .menu__categories-items.menu__categories-items--active,
  .menu__filters-items.menu__filters-items--active {
    display: none !important;
  }
}

@media (max-width: 992px) {

  .menu-burger {
    display: none;
  }

  .menu__content-search {
    order: 1;
  }

  .menu__content .menu__items,
  .menu__content .social {
    display: none;
  }

  .menu__content {
    padding: 0;
    position: relative;
  }

  .menu__content-btns {
    display: flex;
  }

  .header {
    min-height: auto;
  }

  .menu__categories {
    border-bottom: 1px solid #EBEBEB;
    padding-left: 24px;
  }

  .menu__categories-items {
    background-color: #fff;
    padding-bottom: 0;
    width: 100%;
    overflow-y: auto;
    display: none;
    padding-bottom: 50px;
    position: relative;
  }

  .menu__categories-items.menu__categories-items--active,
  .menu__filters-items.menu__filters-items--active {
    display: block !important;
  }

  .menu__categories__link {
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    padding: 13px 0;
    border-bottom: 1px solid #EBEBEB;
  }

  .menu__categories-item:last-child .menu__categories__link {
    border-bottom: none;
  }

  .header.header--active {
    min-height: auto;
  }

  .menu__filters-items {
    display: none;
    width: 100%;
    padding: 0 0 50px;
  }

  .menu__filters-item .field input {
    width: 100%;
  }

  .user-menu__btn:hover path {
    stroke: #333;
  }

  .user-menu__btn--profile:hover {
    color: #333;
  }

  .logo:hover {
    opacity: 1;
  }

  .menu-responsive {
    position: fixed;
    z-index: 25;
    background-color: #fff;
    top: 0;
    left: 0;
    transform: translateX(-120%);
    right: 48px;
    display: block;
    transition: transform 0.3s ease;
  }

  .menu-responsive--active {
    transform: translateX(0);
  }

  .menu-responsive__localization {
    position: absolute;
    bottom: 40px;
    right: 24px;
  }

  .menu__top .localization__list {
    display: none;
  }

  .menu-responsive__inner {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    padding: 15px 24px 205px;
    width: 100%;
  }

  .menu-responsive__close {
    position: fixed;
    right: -40px;
    top: 15px;
  }

  .menu-responsive__phone-box,
  .menu-responsive__btn,
  .menu-responsive__catalog,
  .user-menu__btn--profile.menu-responsive__btn {
    padding: 15px 10px;
    width: 100%;
    border-bottom: 1px solid #EBEBEB;
  }

  .menu-responsive__phone-box {
    padding: 10px 0;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .menu-responsive__user {
    margin: 0;
    flex-direction: column;
    width: 100%;
  }

  .menu-responsive__user-item {
    width: 100%;
  }

  .menu-responsive__user-item:last-child {
    margin-left: 0;
  }

  .menu-responsive__btn {
    align-items: center;
    gap: 10px;
  }

  .user-menu__item:last-child .menu-responsive__btn {
    width: 100%;
    display: flex;
    gap: 10px;
  }

  .menu-responsive__btn,
  .menu-responsive__catalog {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }

  .menu-responsive__btn,
  .user-menu__btn--profile {
    width: 100%;
    justify-content: start;
  }

  .menu-responsive__num {
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-responsive__catalog {
    margin-bottom: 15px;
  }

  .menu-responsive__link {
    padding: 10px 0;
  }

  .menu-responsive__box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 15px 24px 40px;
    display: block;
  }

  .menu-responsive__email {
    display: block;
    margin-bottom: 15px;
  }

  .box__phone-btn.menu-responsive__popup {
    padding: 10px 15px;
  }

  .menu__btn-responsive {
    display: block;
  }

  .menu__btn {
    display: none;
  }
}

@media (max-width: 890px) {

  .header__user .user-menu__btn--profile span,
  .header .box {
    display: none;
  }

  .menu__top {
    height: 84px;
  }
}

@media (max-width: 768px) {

  .menu__filters-items,
  .menu__categories-items {
    padding-bottom: 15px;
  }

  .phone-popup {
    top: auto;
    left: auto;
    transform: none;
    bottom: 0;
    max-width: 100%;
    border-radius: 16px 16px 0 0;
    max-width: 100%;
    margin: 0;
    overflow: auto;
  }

  .phone-popup__title,
  .phone-popup__text {
    text-align: center;
  }

  .phone-popup__close {
    position: fixed;
    top: 15px;
    right: 15px;
  }
}

@media (max-height: 600px) {
  .phone-popup {
    top: 62px;
    left: auto;
    transform: none;
    bottom: 0;
    max-width: 100%;
    border-radius: 16px 16px 0 0;
    max-width: 100%;
    margin: 0;
    overflow: auto;
  }

  .phone-popup__title,
  .phone-popup__text {
    text-align: center;
  }

  .phone-popup__close {
    position: fixed;
    top: 15px;
    right: 15px;
  }
}

@media (max-width: 560px) {
  .header .logo {
    width: 120px;
    height: 30px;
    margin-right: 10px;
  }

  .menu__btn-responsive {
    margin-right: 0;
  }

  .header__user {
    margin-right: 10px;
  }

  .header__user .user-menu__btn {
    width: 30px;
  }

  .header__user .user-menu__item:last-child {
    margin-left: 0;
  }

  .header__user .user-menu__num {
    right: 16px;
    top: 0;
  }

  .localization__list {
    gap: 10px;
  }

  .localization__btn {
    width: 30px;
  }

  .localization__item:not(:first-child) .localization__btn::before {
    left: -8px;
  }
}

@media (max-width: 380px) {
  .header__user {
    gap: 5px;
  }

  .header .logo__img {
    height: 100%;
  }

  .menu-catalog__cost {
    overflow-x: auto;
    white-space: nowrap;
  }
}