.blogs {
  padding: 80px 0;
  background-color: #f2f2f2;
}

.blogs__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.blogs__box {
  max-width: 280px;
}

.blogs__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 40px;
}

.blogs__btn {
  padding: 16px 24px;
}

.blogs__list {
  display: flex;
  gap: 15px;
}

.blogs__linkage {
  max-width: 280px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
}

.blogs__linkage:hover .blogs__info-title {
  color: #c8a06c;
}

.blogs__preview {
  height: 150px;
  position: relative;
}

.blogs__date {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #fff;
  border-radius: 4px;
  padding: 4px 12px;
}

.blogs__info {
  padding: 25px;
}

.blogs__info-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56;
  margin-bottom: 8px;
  transition: color 0.5s ease;
}

.blogs__text {
  font-weight: 400;
  opacity: 0.56;
}