$default: #2F3035;
$accent: #C8A06C;
$white: #fff;
$black: #000;
$sand: rgb(225, 184, 131);
$silver: rgb(202, 202, 202);
$border: #eeeff3;
$gray: #cdcdcd;
$oldPrice: #c4c4c4;
$lightGray: #F0F0F4;
$lightBlack: #292929;
$red: #fe3e57;

$breakpoints: (
  "phone-s": 321px,
  "phone-m": 366px,
  "phone": 376px,
  "phone-2": 481px,
  "phone-3": 561px,
  "tablet": 769px,
  "tablet-2": 891px,
  "tablet-3": 993px,
  "desktop": 1050px,
  "large-desktop": 1100px,
  "desktop-xxl": 1151px,
  "desktop-xxxxl": 1320px,
  "mobile-height-l": 788px,
  "mobile-height": 576px,
  "mobile-height-2": 440px
);

%pseudo {
  content: '';
  position: absolute;
  display: block;
}

%bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%back {
  background-repeat: no-repeat;
  background-position: center;
}

%trans-y {
  top: 50%;
  transform: translateY(-50%);
}

%trans-x {
  left: 50%;
  transform: translateX(-50%);
}

%trans {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%flex-sbc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-sb {
  display: flex;
  justify-content: space-between;
}

%flex-sbs {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

%flex-ac {
  display: flex;
  align-items: center;
}