.address {
  padding: 20px 15px;
  border-bottom: 1px solid $border;

  &__link {
    font-size: 16px;
    font-style: normal;
    line-height: 40px;
    padding-left: 31px;
    position: relative;

    &::before {
      @extend %pseudo;
      @extend %bg;
      @extend %trans-y;
      width: 24px;
      height: 24px;
      left: 0;
      background-size: inherit;
    }

    &--location::before {
      background-image: url('../images/icons/location.svg');
    }

    &--phone::before {
      background-image: url('../images/icons/phone.svg');
    }

    &--email::before {
      background-image: url('../images/icons/message.svg');
    }
  }
}