.footer {
  box-shadow: 0px 0px 60px 0px rgba($silver, .35);
  padding-top: 50px;

  &__top {
    @extend %flex-sb;
    gap: 20px;
  }

  &__info {
    max-width: 350px;
    width: 100%;
  }

  &__logo {
    margin-bottom: 25px;
  }

  &__btn.search__btn {
    padding: 15px 25px;
  }

  &__items {
    display: flex;
    gap: 50px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__elem {
    font-size: 16px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__bottom {
    padding: 50px 0;
    text-align: center;
  }

  &__linkage {
    font-size: 16px;
  }
}