.footer {
  box-shadow: 0px 0px 60px 0px rgba($silver, .35);
  padding-top: 50px;

  @include mq('tablet') {
    padding-top: 25px;
  }

  &__top {
    @extend %flex-sb;
    gap: 25px;

    @include mq('tablet') {
      flex-direction: column;
    }
  }

  &__info {
    max-width: 350px;
    width: 100%;

    @include mq('tablet') {
      max-width: 100%;
    }
  }

  &__logo {
    margin-bottom: 25px;
  }

  &__btn.search__btn {
    padding: 15px 25px;
  }

  &__items {
    display: flex;
    gap: 50px;

    @include mq('tablet') {
      gap: 20px 50px;
      justify-content: center;
      margin-bottom: 5px;
    }

    @include mq('phone-2') {
      flex-wrap: wrap;
      justify-content: start;
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__elem {
    font-size: 16px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__social.social {
    @include mq('tablet-3') {
      flex-direction: column;
      gap: 15px;
    }

    @include mq('tablet') {
      flex-direction: row;
      gap: 20px;
    }
  }

  &__bottom {
    padding: 50px 0;
    text-align: center;

    @include mq('tablet') {
      padding: 25px 0;
    }
  }

  &__linkage {
    font-size: 16px;
  }
}