.profile-menu {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  max-width: 700px;
  width: 100%;
  background-color: $white;
  left: 0;
  top: 0;
  z-index: 25;
  height: 100vh;
  padding: 130px 30px 100px;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.5s ease;

  @include mq('phone-2') {
    padding-top: 100px;
  }

  &--active {
    transform: translateX(0);
  }

  &__close {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 40px;
    right: 40px;
    border-radius: 50%;
    transition: opacity 0.5s ease, box-shadow 0.5s ease;

    @include mq('phone-2') {
      top: 20px;
      right: 20px;
    }

    &::before {
      @extend %pseudo;
      @extend %bg;
      inset: 0;
      background-image: url('../images/icons/close-btn.svg');
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, .7);
    }

    &:hover {
      opacity: 0.7;

      @include mq('tablet-3') {
        opacity: 1;
      }
    }

    &:active {
      box-shadow: none;
      opacity: 0.5;
    }
  }

  &__items {
    @extend %flex-cc;
    gap: 50px;
    margin-bottom: 40px;
  }

  &__link {
    text-transform: uppercase;

    &.tab--active {
      color: $accent;
    }
  }

  &__content {
    max-width: 540px;
    margin: 0 auto;
  }

  &__elem {
    display: none;

    &.tabs-content--active {
      display: block;
    }
  }

  &__label {
    font-size: 16px;
    margin-bottom: 30px;
    display: block;
    color: $accent;

    @include mq('phone-2') {
      margin-bottom: 20px;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 4px;
    padding: 0 15px;
    border: 2px solid #1F1F1F;
    border-radius: 4px;
    transition: border-color 0.5s ease, box-shadow 0.5s ease;

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, .7);
    }

    &:hover {
      border-color: rgba(#1F1F1F, .7);

      @include mq('tablet-3') {
        border-color: rgba(#1F1F1F, 1);
      }
    }
  }

  &__text {
    font-size: 14px;
    margin-bottom: 25px;

    @include mq('phone-2') {
      margin-bottom: 20px;
    }
  }

  &__apply {
    display: flex;
    gap: 10px;
  }

  &__checkbox-input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);

    &:checked+.profile-menu__checkbox::before {
      opacity: 1;
    }

    &:focus+.profile-menu__checkbox::before {
      box-shadow: 0 0 0 2px rgba($accent, .7);
    }
  }

  &__checkbox {
    background-color: $lightBlack;
    width: 16px;
    height: 16px;
    display: block;
    margin-top: 1px;
    position: relative;

    &::before {
      @extend %pseudo;
      @extend %bg;
      @extend %trans;
      background-image: url('../images/icons/check-on.svg');
      width: 12px;
      height: 12px;
      opacity: 0;
      transition: opacity 0.5s ease, box-shadow 0.5s ease;
    }
  }

  &__btn {
    width: 100%;
    background-color: $lightBlack;
    text-align: center;
    padding: 15px;
    color: $white;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, 1);
    }

    &:hover {
      background-color: $accent;
      box-shadow: 0px 7px 20px 0px rgba($accent, .3);

      @include mq('tablet-3') {
        background-color: $lightBlack;
        box-shadow: none;
      }
    }

    &:active {
      background-color: transparent;
      color: $default;
      box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, .25) inset;
    }
  }

  &__lost {
    border-radius: 5px;
    margin-top: 15px;
    color: $red;
    transition: box-shadow 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;

    &:focus {
      box-shadow: 0 0 0 2px rgba($red, .7);
    }

    &:hover {
      color: $lightBlack;
    }

    &:active {
      color: $red;
      text-shadow: 2px 2px 5px rgba(49, 53, 43, .5);
      box-shadow: none;
    }
  }
}