<section class="section explore">
  <div class="container">
    <h2 class="title">
      С этим товаром покупают
    </h2>
    <div class="showcase">
      <ul class="tabs showcase__tabs">
        <li class="showcase__tab-item">
          <a class="showcase__tab link-line tab tab--active" href="#explore-tab-1">Салюты</a>
        </li>
        <li class="showcase__tab-item">
          <a class="showcase__tab link-line tab" href="#explore-tab-2">Римские свечи</a>
        </li>
        <li class="showcase__tab-item">
          <a class="showcase__tab link-line tab" href="#explore-tab-3">Ракеты</a>
        </li>
        <li class="showcase__tab-item">
          <a class="showcase__tab link-line tab" href="#explore-tab-4">Фонтаны</a>
        </li>
        <li class="showcase__tab-item">
          <a class="showcase__tab link-line tab" href="#explore-tab-5">Цветной дым</a>
        </li>
        <li class="showcase__tab-item">
          <a class="showcase__tab link-line tab" href="#explore-tab-6">Хлопушки</a>
        </li>
      </ul>
      <ul class="tabs-container showcase__container">
        <li id="explore-tab-1" class="tabs-content showcase__content tabs-content--active">
          <ul class="showcase__list">
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-5.webp" alt="Visionary">
                  </div>
                  <h3 class="product-card__title">
                    Visionary
                  </h3>
                  <p class="product-card__price price">194 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-6.webp" alt="Тортовая свеча">
                  </div>
                  <h3 class="product-card__title">
                    Тортовая свеча
                  </h3>
                  <p class="product-card__price price">26 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-7.webp" alt="Stroboscop Big">
                  </div>
                  <h3 class="product-card__title">
                    Stroboscop Big
                  </h3>
                  <p class="product-card__price price">16 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card product-card--not-available">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card__link--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box"><img class="product-card__img" src="images/products/product-8.webp"
                      alt="Red Devil"></div>
                  <h3 class="product-card__title">
                    Red Devil
                  </h3>
                  <p class="product-card__price price">145 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-6.webp" alt="Тортовая свеча">
                  </div>
                  <h3 class="product-card__title">
                    Тортовая свеча
                  </h3>
                  <p class="product-card__price price">26 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
          </ul>
        </li>
        <li id="explore-tab-2" class="tabs-content showcase__content">
          <ul class="showcase__list">
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-5.webp" alt="Visionary">
                  </div>
                  <h3 class="product-card__title">
                    Visionary
                  </h3>
                  <p class="product-card__price price">194 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-6.webp" alt="Тортовая свеча">
                  </div>
                  <h3 class="product-card__title">
                    Тортовая свеча
                  </h3>
                  <p class="product-card__price price">26 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-7.webp" alt="Stroboscop Big">
                  </div>
                  <h3 class="product-card__title">
                    Stroboscop Big
                  </h3>
                  <p class="product-card__price price">16 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card product-card--not-available">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card__link--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box"><img class="product-card__img" src="images/products/product-8.webp"
                      alt="Red Devil"></div>
                  <h3 class="product-card__title">
                    Red Devil
                  </h3>
                  <p class="product-card__price price">145 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-6.webp" alt="Тортовая свеча">
                  </div>
                  <h3 class="product-card__title">
                    Тортовая свеча
                  </h3>
                  <p class="product-card__price price">26 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
          </ul>
        </li>
        <li id="explore-tab-3" class="tabs-content showcase__content">
          <ul class="showcase__list">
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-5.webp" alt="Visionary">
                  </div>
                  <h3 class="product-card__title">
                    Visionary
                  </h3>
                  <p class="product-card__price price">194 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-6.webp" alt="Тортовая свеча">
                  </div>
                  <h3 class="product-card__title">
                    Тортовая свеча
                  </h3>
                  <p class="product-card__price price">26 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-7.webp" alt="Stroboscop Big">
                  </div>
                  <h3 class="product-card__title">
                    Stroboscop Big
                  </h3>
                  <p class="product-card__price price">16 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card product-card--not-available">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card__link--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box"><img class="product-card__img" src="images/products/product-8.webp"
                      alt="Red Devil"></div>
                  <h3 class="product-card__title">
                    Red Devil
                  </h3>
                  <p class="product-card__price price">145 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-6.webp" alt="Тортовая свеча">
                  </div>
                  <h3 class="product-card__title">
                    Тортовая свеча
                  </h3>
                  <p class="product-card__price price">26 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
          </ul>
        </li>
        <li id="explore-tab-4" class="tabs-content showcase__content">
          <ul class="showcase__list">
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-5.webp" alt="Visionary">
                  </div>
                  <h3 class="product-card__title">
                    Visionary
                  </h3>
                  <p class="product-card__price price">194 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-6.webp" alt="Тортовая свеча">
                  </div>
                  <h3 class="product-card__title">
                    Тортовая свеча
                  </h3>
                  <p class="product-card__price price">26 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-7.webp" alt="Stroboscop Big">
                  </div>
                  <h3 class="product-card__title">
                    Stroboscop Big
                  </h3>
                  <p class="product-card__price price">16 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card product-card--not-available">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card__link--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box"><img class="product-card__img" src="images/products/product-8.webp"
                      alt="Red Devil"></div>
                  <h3 class="product-card__title">
                    Red Devil
                  </h3>
                  <p class="product-card__price price">145 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-6.webp" alt="Тортовая свеча">
                  </div>
                  <h3 class="product-card__title">
                    Тортовая свеча
                  </h3>
                  <p class="product-card__price price">26 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
          </ul>
        </li>
        <li id="explore-tab-5" class="tabs-content showcase__content">
          <ul class="showcase__list">
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-5.webp" alt="Visionary">
                  </div>
                  <h3 class="product-card__title">
                    Visionary
                  </h3>
                  <p class="product-card__price price">194 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-6.webp" alt="Тортовая свеча">
                  </div>
                  <h3 class="product-card__title">
                    Тортовая свеча
                  </h3>
                  <p class="product-card__price price">26 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-7.webp" alt="Stroboscop Big">
                  </div>
                  <h3 class="product-card__title">
                    Stroboscop Big
                  </h3>
                  <p class="product-card__price price">16 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card product-card--not-available">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card__link--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box"><img class="product-card__img" src="images/products/product-8.webp"
                      alt="Red Devil"></div>
                  <h3 class="product-card__title">
                    Red Devil
                  </h3>
                  <p class="product-card__price price">145 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-6.webp" alt="Тортовая свеча">
                  </div>
                  <h3 class="product-card__title">
                    Тортовая свеча
                  </h3>
                  <p class="product-card__price price">26 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
          </ul>
        </li>
        <li id="explore-tab-6" class="tabs-content showcase__content">
          <ul class="showcase__list">
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-5.webp" alt="Visionary">
                  </div>
                  <h3 class="product-card__title">
                    Visionary
                  </h3>
                  <p class="product-card__price price">194 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-6.webp" alt="Тортовая свеча">
                  </div>
                  <h3 class="product-card__title">
                    Тортовая свеча
                  </h3>
                  <p class="product-card__price price">26 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-7.webp" alt="Stroboscop Big">
                  </div>
                  <h3 class="product-card__title">
                    Stroboscop Big
                  </h3>
                  <p class="product-card__price price">16 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card product-card--not-available">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card__link--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box"><img class="product-card__img" src="images/products/product-8.webp"
                      alt="Red Devil"></div>
                  <h3 class="product-card__title">
                    Red Devil
                  </h3>
                  <p class="product-card__price price">145 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
            <li class="showcase__item">
              <article class="product-card">
                <button class="product-card__favorite" type="button">
                  <svg class="heart-ico" width="28px" height="22px">
                    <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
                  </svg>
                </button>
                <button class="product-card__basket" type="button">
                  <svg class="user-ico" width="30px" height="23px">
                    <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
                  </svg>
                </button>
                <a class="product-card__notify-link" href="#">Сообщить о поступлении</a>
                <a class="product-card__link product-card--sale" href="#">
                  <p class="product-card__hover-text">
                    посмотреть товар
                  </p>
                  <div class="product-card__box">
                    <img class="product-card__img" src="images/products/product-6.webp" alt="Тортовая свеча">
                  </div>
                  <h3 class="product-card__title">
                    Тортовая свеча
                  </h3>
                  <p class="product-card__price price">26 лей</p>
                  <p class="product-card__notify-text">
                    нет в наличии
                  </p>
                </a>
              </article>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>