<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__info">
        <a class="logo footer__logo" href="index.html">
          <img class="logo__img" src="images/logo.webp" alt="логотип">
        </a>
        <h2 class="footer__title">
          Поиск по сайту
        </h2>
        <search class="search">
          <form class="search__form" action="#">
            <input class="search__input" type="search" placeholder="Поиск">
            <button class="search__btn footer__btn" type="submit">Искать</button>
          </form>
        </search>
      </div>
      <ul class="footer__items">
        <li class="footer__item">
          <h3 class="footer__title footer__name">
            Информация
          </h3>
          <ul class="footer__list">
            <li class="footer__elem">
              <a class="footer__link link" href="#">О компании</a>
            </li>
            <li class="footer__elem">
              <a class="footer__link link" href="#">Оплата</a>
            </li>
            <li class="footer__elem">
              <a class="footer__link link" href="#">Опт</a>
            </li>
            <li class="footer__elem">
              <a class="footer__link link" href="#">Контакты</a>
            </li>
          </ul>
        </li>
        <li class="footer__item">
          <h3 class="footer__title footer__name">
            Категории
          </h3>
          <ul class="footer__list">
            <li class="footer__elem">
              <a class="footer__link link" href="#">Салюты</a>
            </li>
            <li class="footer__elem">
              <a class="footer__link link" href="#">Миномёты</a>
            </li>
            <li class="footer__elem">
              <a class="footer__link link" href="#">Римские свечи</a>
            </li>
            <li class="footer__elem">
              <a class="footer__link link" href="#">Ракеты</a>
            </li>
            <li class="footer__elem">
              <a class="footer__link link" href="#">Фонтаны</a>
            </li>
            <li class="footer__elem">
              <a class="footer__link link" href="#">Хлопушки</a>
            </li>
            <li class="footer__elem">
              <a class="footer__link link" href="#">Разное</a>
            </li>
            <li class="footer__elem">
              <a class="footer__link link" href="#">Цветной дым</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="social footer__social">
        <li class="social__item">
          <a class="social__link" href="#">
            <svg class="social-ico">
              <use xlink:href="images/icons/sprite/sprite.svg#instagram"></use>
              <span class="sr-only">перейти в instagram</span>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <svg class="social-ico">
              <use xlink:href="images/icons/sprite/sprite.svg#vk"></use>
              <span class="sr-only">перейти в vk</span>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <svg class="social-ico">
              <use xlink:href="images/icons/sprite/sprite.svg#facebook"></use>
              <span class="sr-only">перейти в facebook</span>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <svg class="social-ico">
              <use xlink:href="images/icons/sprite/sprite.svg#youtube"></use>
              <span class="sr-only">перейти в youtube</span>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__bottom">
      <a class="footer__linkage link" href="#">
        Правила безопасности
      </a>
    </div>
  </div>
</footer>