<header class="header section">
  <nav class="menu">
    <div class="container">
      <div class="menu__top">
        <a class="logo menu__logo" href="index.html">
          <img class="logo__img" src="images/logo.webp" alt="логотип">
        </a>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link link" href="#">О компании</a>
          </li>
          <li class="menu__item">
            <a class="menu__link link" href="#">Оплата</a>
          </li>
          <li class="menu__item">
            <a class="menu__link link" href="#">Опт</a>
          </li>
          <li class="menu__item">
            <a class="menu__link link" href="#">Контакты</a>
          </li>
        </ul>
        <ul class="user-menu">
          <li class="user-menu__item">
            <button class="user-menu__btn" type="button">
              <svg class="heart-ico" width="28px" height="22px">
                <use xlink:href="images/icons/sprite/sprite.svg#heart"></use>
              </svg>
              <span class="sr-only">открыть избранное</span>
            </button>
          </li>
          <li class="user-menu__item">
            <button class="user-menu__btn" type="button">
              <svg class="user-ico" width="24px" height="24px">
                <use xlink:href="images/icons/sprite/sprite.svg#user"></use>
              </svg>
              <span class="sr-only">войти в аккаунт</span>
            </button>
          </li>
          <li class="user-menu__item">
            <button class="user-menu__btn" type="button">
              <svg class="user-ico" width="30px" height="23px">
                <use xlink:href="images/icons/sprite/sprite.svg#basket"></use>
              </svg>
              <span class="user-menu__circle">4</span>
              <span class="sr-only">открыть корзину</span>
            </button>
          </li>
        </ul>
        <button class="menu__btn" type="button">
          <span></span>
          <span></span>
          <span></span>
          <span class="sr-only">открыть меню</span>
        </button>
        <div class="menu-burger">
          <div class="menu-burger__box">
            <a class="logo" href="index.html">
              <img class="logo__img" src="images/logo.webp" alt="логотип">
            </a>
          </div>
          <button class="menu-burger__btn" type="button">
            <span class="menu-burger__btn-line"></span>
            <span class="menu-burger__btn-line"></span>
            <span class="sr-only">закрыть меню</span>
          </button>
          <ul class="menu-burger__list">
            <li class="menu-burger__item">
              <a class="menu-burger__link link" href="#">О компании</a>
            </li>
            <li class="menu-burger__item">
              <a class="menu-burger__link link" href="#">Оплата</a>
            </li>
            <li class="menu-burger__item">
              <a class="menu-burger__link link" href="#">Опт</a>
            </li>
            <li class="menu-burger__item">
              <a class="menu-burger__link link" href="#">Контакты</a>
            </li>
          </ul>
          <address class="address">
            <ul class="address__list">
              <li class="address__item">
                <a class="address__link address__link--location" href="https://yandex.ru/maps/10313/kishinev/house/ZkEYfgVpS0UGQFptfXxweH5mbQ==/?ll=28.829201%2C47.019260&z=17">Ул. Алексея Щусева 56/1</a>
              </li>
              <li class="address__item">
                <a class="address__link address__link--phone" href="tel:+37379957152">(+373) 79957152</a>
              </li>
              <li class="address__item">
                <a class="address__link address__link--email" href="mailto:info@maxsem.ro">info@maxsem.ro</a>
              </li>
            </ul>
          </address>
          <ul class="social menu-burger__social">
            <li class="social__item">
              <a class="social__link" href="https://www.instagram.com/artificiimaxsem.md/">
                <svg class="social-ico">
                  <use xlink:href="images/icons/sprite/sprite.svg#instagram"></use>
                  <span class="sr-only">перейти в instagram</span>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://vk.com/public58795950">
                <svg class="social-ico">
                  <use xlink:href="images/icons/sprite/sprite.svg#vk"></use>
                  <span class="sr-only">перейти в vk</span>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.facebook.com/MaxsemUrkaine/">
                <svg class="social-ico">
                  <use xlink:href="images/icons/sprite/sprite.svg#facebook"></use>
                  <span class="sr-only">перейти в facebook</span>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://www.youtube.com/user/MaxsemFireworks">
                <svg class="social-ico">
                  <use xlink:href="images/icons/sprite/sprite.svg#youtube"></use>
                  <span class="sr-only">перейти в youtube</span>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="menu__categories">
      <div class="container">
        <ul class="menu-categories">
          <li class="menu-categories__item">
            <a class="menu-categories__link link-line" href="#">Салюты</a>
          </li>
          <li class="menu-categories__item">
            <a class="menu-categories__link link-line" href="#">Миномёты</a>
          </li>
          <li class="menu-categories__item">
            <a class="menu-categories__link link-line" href="#">Римские свечи</a>
          </li>
          <li class="menu-categories__item">
            <a class="menu-categories__link link-line" href="#">Ракеты</a>
          </li>
          <li class="menu-categories__item">
            <a class="menu-categories__link link-line" href="#">Фонтаны</a>
          </li>
          <li class="menu-categories__item">
            <a class="menu-categories__link link-line" href="#">Цветной дым</a>
          </li>
          <li class="menu-categories__item">
            <a class="menu-categories__link link-line" href="#">Хлопушки</a>
          </li>
          <li class="menu-categories__item">
            <a class="menu-categories__link link-line" href="#">Разное</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>