.categories {

  &__search {
    margin-bottom: 50px;

    @include mq('tablet') {
      margin-bottom: 25px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include mq('desktop-xxl') {
      gap: 15px;
    }

    @include mq('tablet-3') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq('tablet') {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__link {
    @extend %flex-sb;
    gap: 10px;
    max-width: 370px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid $gray;
    background-color: $white;
    padding: 20px;
    transition: border-color 0.5s ease, box-shadow 0.5s ease;

    @include mq('tablet-3') {
      max-width: 100%;
    }
    
    @include mq('phone-2') {
      padding: 15px;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, 0.7);
    }

    &:hover {
      border-color: transparent;
      box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);

      @include mq('tablet-3') {
        border-color: $gray;
        box-shadow: none;
      }
    }

    &:hover .categories__title {
      color: $accent;

      @include mq('tablet-3') {
        color: $default;
      }
    }

    &:active {
      box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25) inset;
    }

    &:active .categories__title {
      color: $default;
    }
  }

  &__info {
    @extend %flex-sbs;
    flex-direction: column;
    max-width: 170px;
  }

  &__title {
    font-family: 'Barlow', sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.2;
    transition: color 0.5s ease;

    @include mq('phone-2') {
      font-size: 20px;
    }
  }

  &__more {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    color: $oldPrice;
    padding-right: 15px;
    position: relative;

    &::after {
      @extend %pseudo;
      @extend %bg;
      @extend %trans-y;
      right: 0;
      width: 6px;
      height: 9px;
      background-image: url('../images/icons/link-arrow.svg');
    }
  }

  &__img {
    max-width: 200px;
    height: 100px;
  }
}