.products {
  &__showcase {
    margin-bottom: 25px;
  }

  &__box {
    text-align: center;
    margin-bottom: 50px;
  }

  &__link {
    padding: 15px 40px;
    background-color: $lightGray;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, .7);
    }

    &:hover {
      background-color: $accent;
      color: $white;
      box-shadow: 0px 7px 20px 0px rgba($accent, .3);

      @include mq('tablet-3') {
        background-color: $lightGray;
        color: $default;
      }
    }

    &:active {
      box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, .25) inset;
    }
  }

  .slick-dots {
    margin-bottom: 25px;
  }

  &__banner {
    position: relative;
  }

  &__animation {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 1;

    @include mq('phone-2') {
      width: 100px;
      height: 100px;
    }

    &--first {
      left: 20px;
      top: 0px;
    }

    &--second {
      right: 50px;
      top: 20px;
    }

    &--third {
      @extend %trans-x;
      bottom: -10px;
      width: 200px;
      height: 200px;

      @include mq('phone-2') {
        width: 100px;
        height: 100px;
      }
    }
  }

  &__img {
    height: 300px;
    width: 100%;
    animation: heart-bit 6s linear 1s infinite;

    @include mq('tablet-2') {
      height: 250px;
    }

    @include mq('tablet') {
      height: auto;
    }
  }
}